div {
    justify-content: space-between;
}

.icon{
    transition: color 0.5s,background-color 0.5s;
    padding:10px;
    height:4rem;
    width:4rem !important;
    border-radius: 50%;
    text-decoration: none !important;
}

.twitter{
    color: #00aced;
}

.linkedin{
    color: #007bb6;
}

.github{
    color: #444;
}

.codepen{
    color: #333;
}

body a, body a:link, body a:visited, body a:focus, body a:hover, body a:active {
    text-decoration:none; 
    box-shadow: none;
  }